body{
  background-color:#EAF6F6;
}

hr{
  border-style:none;
  border-top-style:dotted;
  width:5%;
  border-width:5px;

  border-color:gray;

}
.Avatar{
  object-fit: cover;
  width: 250px;
  height: 250px;
  box-shadow:3px 3px 0 rgba(0,0,0,0.5);
  border-radius:50%;

}
